<%= form_for(@allergen) do |f| %>
  <% if @allergen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allergen.errors.count, "error") %> prohibited this allergen from being saved:</h2>

      <ul>
      <% @allergen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :side_effect %><br />
    <%= f.text_field :side_effect %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
