<p>
  <b>Allergy:</b>
  <%=h @patient_allergies.allergy %>
</p>

<p>
  <b>Patient:</b>
  <%=h @patient_allergies.patient %>
</p>

<p>
  <b>Date observed:</b>
  <%=h @patient_allergies.date_observed %>
</p>

<p>
  <b>Severity:</b>
  <%=h @patient_allergies.severity %>
</p>

<p>
  <b>Reaction:</b>
  <%=h @patient_allergies.reaction %>
</p>

<p>
  <b>Notes:</b>
  <%=h @patient_allergies.notes %>
</p>


<%= link_to 'Edit', edit_patient_allergies_path(@patient_allergies) %> |
<%= link_to 'Back', patient_allergies_path %>