<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @institution.notes %>
</p>

<p>
  <b>Hospitals:</b>
  <ul>
    <% for hospital in @institution.hospitals %>
      <li><%= hospital.name %></li>
    <% end %>
  </ul>
  
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
