<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @institution.notes %>
</p>

<p>
  <b>Hospitals:</b>
  <ul>
    <% for hospital in @institution.hospitals %>
      <li><%= link_to hospital.name, hospital %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Doctors:</b>
  <ul>
    <% for doctor in @institution.doctors %>
      <li><%= link_to doctor.name, doctor %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Users:</b>
  <ul>
    <% for user in @institution.users %>
      <li><%= link_to user.username, user %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
