<%= form_for(@condition) do |f| %>

  <% if @condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condition.errors.count, "error") %> prohibited this condition from being saved:</h2>

      <ul>
      <% @condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class ="field">
    <h3>Vaccines<h3>
   <% for vaccine in Vaccine.find(:all) %>
     <div>
       <%= check_box_tag "condition_id[] ||= []", vaccine.id, 
           @condition.vaccines.include?(vaccine) %>
       <%= vaccine.name %>
     </div>
   <% end %>
  </div>

 <div class ="field">
 <h3>Patients<h3>
   <% for patient in Patient.find(:all) %>
     <div>
       <%= check_box_tag "condition_id[] ||= []", patient.id,
           @condition.patients.include?(patient) %>
       <%= patient.name %>
    </div>
   <% end %>
  </div>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
