<p>
  <b>Patient:</b>
  <%=h @note.patient_id %>
</p>

<p>
  <b>Datemade:</b>
  <%=h @note.dateMade %>
</p>

<p>
  <b>Body:</b>
  <%=h @note.body %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
