<h1>Editing patient_alert</h1>

<% form_for(@patient_alert) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.label :alert_date %><br />
    <%= f.date_select :alert_date %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @patient_alert %> |
<%= link_to 'Back', patient_alerts_path %>
