<p>
  <b>Patient:</b>
  <%=h @patient_alert.patient_id %>
</p>

<p>
  <b>Alert date:</b>
  <%=h @patient_alert.alert_date %>
</p>

<p>
  <b>Notes:</b>
  <%=h @patient_alert.notes %>
</p>


<%= link_to 'Edit', edit_patient_alert_path(@patient_alert) %> |
<%= link_to 'Back', patient_alerts_path %>
