<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <h3>Conditions<h3>
  <% for condition in Condition.find(:all) %>
  <div>
    <%= check_box_tag "prescription_id[]", condition.id,
        @prescription.conditions.include?(condition) %>
    <%= condition.name %>
  </div>
  <%end %>

  </div>



  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :prescibed %><br />
    <%= f.date_select :prescibed %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :dosage %><br />
    <%= f.text_field :dosage %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
