<h1>Listing prescriptions</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Name</th>
    <th>Dosage</th>
    <th>Frequency</th>
    <th>Dategiven</th>
  </tr>

<% for prescription in @prescriptions %>
  <tr>
    <td><%=h prescription.patient_id %></td>
    <td><%=h prescription.name %></td>
    <td><%=h prescription.dosage %></td>
    <td><%=h prescription.frequency %></td>
    <td><%=h prescription.dateGiven %></td>
    <td><%= link_to 'Show', prescription %></td>
    <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
    <td><%= link_to 'Destroy', prescription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prescription', new_prescription_path %>
