<h1>New prescription</h1>

<% form_for(@prescription) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :dosage %><br />
    <%= f.text_field :dosage %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </p>
  <p>
    <%= f.label :dateGiven %><br />
    <%= f.date_select :dateGiven %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', prescriptions_path %>
