<p>
  <b>Patient:</b>
  <%=h @prescription.patient_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @prescription.name %>
</p>

<p>
  <b>Dosage:</b>
  <%=h @prescription.dosage %>
</p>

<p>
  <b>Frequency:</b>
  <%=h @prescription.frequency %>
</p>

<p>
  <b>Dategiven:</b>
  <%=h @prescription.dateGiven %>
</p>


<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
