<%= form_tag(:controller => :users, :action => :change_password) do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :current_password %><br />
    <%= password_field_tag :current_password %>
  </div>
  <div class="field">
    <%= label_tag :new_password %><br />
    <%= password_field_tag :new_password %>
  </div>
  <div class="field">
    <%= label_tag :confirm_new_password %><br />
    <%= password_field_tag :confirm_new_password %>
  </div>
  <div class="actions">
    <%= submit_tag "Change Password" %>
  </div>
<% end %>
<%= link_to "Cancel", {:controller => :users, :action => :show} %>