<%= form_tag(:controller => :users, :action => :forgot_password) do %>
  <div class="field">
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>
<%= link_to "Cancel", {:controller => :users, :action => :login} %>