<h2>Login</h2>

<%= form_tag do %>
    <%= label_tag :username %>:
    <%= text_field_tag :username%><br />
    <%= label_tag :password %>:
    <%= password_field_tag :password %><br />
    <%= submit_tag "Login" %>
<% end %>

<br>
<%= link_to "Forgot Password?", {:controller => :users, :action => :forgot_password} %>