<%= form_tag(:controller => :users, :action => :reset_password) do %>
  <% if !@user.nil? and @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :password_reset_token %><br />
    <%= text_field_tag :password_reset_token %>
  </div>
  <div class="field">
    <%= label_tag :new_password %><br />
    <%= password_field_tag :new_password %>
  </div>
  <div class="field">
    <%= label_tag :confirm_new_password %><br />
    <%= password_field_tag :confirm_new_password %>
  </div>
  <div class="actions">
    <%= submit_tag "Change Password" %>
  </div>
<% end %>
<%= link_to "Resend Email", {:controller => :users, :action => :forgot_password, :email => params[:email]}, :method => :post %>
<%= link_to "Cancel", {:controller => :users, :action => :login} %>