<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Userame:</b>
  <%= @user.username %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin_in_words %>
</p>

<p>
  <b>Institution:</b>
  <%= link_to @user.institution.name, @user.institution %>
</p>
<%= link_to 'Change Password', :controller => :users, :action => :change_password, :id => @user.id %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
