<p>
  <b>Medical record number:</b>
  <%=h @patient.medical_record_number %>
</p>

<p>
  <b>First name:</b>
  <%=h @patient.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @patient.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @patient.last_name %>
</p>

<p>
  <b>Arrival date:</b>
  <%=h @patient.arrival_date %>
</p>

<p>
  <b>Dob:</b>
  <%=h @patient.dob %>
</p>

<p>
  <b>Gender:</b>
  <%=h @patient.gender %>
</p>

<p>
  <b>Address:</b>
  <%=h @patient.address %>
</p>

<p>
  <b>City:</b>
  <%=h @patient.city %>
</p>

<p>
  <b>State:</b>
  <%=h @patient.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @patient.zip %>
</p>

<p>
  <b>Father first name:</b>
  <%=h @patient.father_first_name %>
</p>

<p>
  <b>Father last name:</b>
  <%=h @patient.father_last_name %>
</p>

<p>
  <b>Mother first name:</b>
  <%=h @patient.mother_first_name %>
</p>

<p>
  <b>Mother last name:</b>
  <%=h @patient.mother_last_name %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @patient.telephone %>
</p>

<p>
  <b>Emergency contact name:</b>
  <%=h @patient.emergency_contact_name %>
</p>

<p>
  <b>Emergency contact relation:</b>
  <%=h @patient.emergency_contact_relation %>
</p>

<p>
  <b>Emergency contact number:</b>
  <%=h @patient.emergency_contact_number %>
</p>

<p>
  <b>Notes:</b>
  <%=h @patient.notes %>
</p>

<p>
  <b>Photo file url:</b>
  <%=h @patient.photo_file_url %>
</p>

<p>
  <b>Photo content type:</b>
  <%=h @patient.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%=h @patient.photo_file_size %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>