<%= form_for(@medication) do |f| %>
  <% if @medication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medication.errors.count, "error") %> prohibited this medication from being saved:</h2>

      <ul>
      <% @medication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <h3>Prescription<h3>
    <% for prescription in Prescription.find(:all) %>
    <div>
      <%= check_box_tag "medication_id[]", prescription.id,
          @medication.prescriptions.include?(prescription) %>
      <%= prescription.name %>
    </div>
    <%end %>
 </div>

  <div class="field">
    <%= f.label :side_effect %><br />
    <%= f.text_area :side_effect %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
