<h1>Listing patient_notes</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Note date</th>
    <th>Body</th>
  </tr>

<% @patient_notes.each do |patient_note| %>
  <tr>
    <td><%=h patient_note.patient %></td>
    <td><%=h patient_note.note_date %></td>
    <td><%=h patient_note.body %></td>
    <td><%= link_to 'Show', patient_note %></td>
    <td><%= link_to 'Edit', edit_patient_note_path(patient_note) %></td>
    <td><%= link_to 'Destroy', patient_note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New patient_note', new_patient_note_path %>