<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Category</th>
    <th>Date</th>
  </tr>

<% for recipe in @recipes %>
  <tr>
    <td><%= link_to "#{recipe.title}", recipe %>
	    <%= link_to '(delete)',  recipe, :confirm => 'Are you sure?', :method => :delete  %>
	</td>
    <td>
    	<%= link_to "#{recipe.category.name}", { :action => 'index', :category_id => recipe.category.id } %>
    </td>
    <td>
    	<%= h recipe.created_at %>
    </td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New recipe', new_recipe_path %>
