<p>
  <b>Title:</b>
  <%=h @recipe.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @recipe.description %>
</p>

<p>
  <b>Instructions:</b>
  <%=h @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
