<h1>Editing alert</h1>

<% form_for(@alert) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.label :alert_date %><br />
    <%= f.date_select :alert_date %>
  </p>
  <p>
    <%= f.label :alert_note %><br />
    <%= f.text_area :alert_note %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @alert %> |
<%= link_to 'Back', alerts_path %>
