<h1>Listing alerts</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Alert date</th>
    <th>Alert note</th>
    <th>Active</th>
  </tr>

<% for alert in @alerts %>
  <tr>
    <td><%=h alert.patient_id %></td>
    <td><%=h alert.alert_date %></td>
    <td><%=h alert.alert_note %></td>
    <td><%=h alert.active %></td>
    <td><%= link_to 'Show', alert %></td>
    <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
    <td><%= link_to 'Destroy', alert, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alert', new_alert_path %>
