<p>
  <b>Patient:</b>
  <%=h @alert.patient_id %>
</p>

<p>
  <b>Alert date:</b>
  <%=h @alert.alert_date %>
</p>

<p>
  <b>Alert note:</b>
  <%=h @alert.alert_note %>
</p>

<p>
  <b>Active:</b>
  <%=h @alert.active %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
