<h1>Listing Patients</h1>

<% form_tag (search_path,:method => "get") do %>
  Search: <%= text_field :search, :query %> <%= submit_tag 'Search' %>
<% end %> 

<h3><%= link_to 'Show All', patients_path %></h3>


<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Gender</th>
  </tr>

<% for patient in @patients %>
  <tr>
    <td><%=h patient.first_name %></td>
    <td><%=h patient.middle_name %></td>
    <td><%=h patient.last_name %></td>
    <td><%=h patient.gender %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New patient', new_patient_path %>


