<h1>Listing patient_alerts</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Alert date</th>
    <th>Notes</th>
  </tr>

<% @patient_alerts.each do |patient_alerts| %>
  <tr>
    <td><%=h patient_alerts.patient %></td>
    <td><%=h patient_alerts.alert_date %></td>
    <td><%=h patient_alerts.notes %></td>
    <td><%= link_to 'Show', patient_alerts %></td>
    <td><%= link_to 'Edit', edit_patient_alerts_path(patient_alerts) %></td>
    <td><%= link_to 'Destroy', patient_alerts, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New patient_alerts', new_patient_alerts_path %>