<h1>Listing doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
  </tr>

<% for doctor in @doctors %>
  <tr>
    <td><%=h doctor.name %></td>
    <td><%=h doctor.notes %></td>
    <td><%= link_to 'Show', doctor %></td>
    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', doctor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New doctor', new_doctor_path %>
