<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @doctor.notes %>
</p>

<p>
  <b>Institution:</b>
  <%= link_to @doctor.institution.name, @doctor.institution %>
</p>

<p>
  <b>Visits:</b>
  <ul>
    <% for visit in @doctor.visits %>
      <li><%= link_to visit, visit %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
