<%= form_for(@allergy) do |f| %>
  <% if @allergy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allergy.errors.count, "error") %> prohibited this allergy from being saved:</h2>

      <ul>
      <% @allergy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
     <h3>Allergens<h3>
   <% for allergen in Allergen.find(:all) %>
     <div>
       <%= check_box_tag "allergy_id[] ||= []", allergen.id,
           @allergy.allergens.include?(allergen) %>
       <%= allergen.name %>
     </div>
   <% end %>
  </div>


  <div class="field">
    <%= f.label :reaction %><br />
    <%= f.text_area :reaction %>
  </div>
  <div class="field">
    <%= f.label :recorded %><br />
    <%= f.date_select :recorded %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
