<h1>Listing visit_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
  </tr>

<% for visit_type in @visit_types %>
  <tr>
    <td><%=h visit_type.name %></td>
    <td><%=h visit_type.notes %></td>
    <td><%= link_to 'Show', visit_type %></td>
    <td><%= link_to 'Edit', edit_visit_type_path(visit_type) %></td>
    <td><%= link_to 'Destroy', visit_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New visit_type', new_visit_type_path %>
