<p>
  <b>Medication:</b>
  <%=h @patient_medications.medication %>
</p>

<p>
  <b>Patient:</b>
  <%=h @patient_medications.patient %>
</p>

<p>
  <b>Doctor:</b>
  <%=h @patient_medications.doctor %>
</p>

<p>
  <b>Condition:</b>
  <%=h @patient_medications.condition %>
</p>

<p>
  <b>Date given:</b>
  <%=h @patient_medications.date_given %>
</p>

<p>
  <b>Dosage:</b>
  <%=h @patient_medications.dosage %>
</p>

<p>
  <b>Frequency:</b>
  <%=h @patient_medications.frequency %>
</p>

<p>
  <b>Notes:</b>
  <%=h @patient_medications.notes %>
</p>


<%= link_to 'Edit', edit_patient_medications_path(@patient_medications) %> |
<%= link_to 'Back', patient_medications_path %>