<%= form_for(@encrypted_connection) do |f| %>
  <% if @encrypted_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encrypted_connection.errors.count, "error") %> prohibited this encrypted_connection from being saved:</h2>

      <ul>
      <% @encrypted_connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :public_key %><br />
    <%= f.text_field :public_key %>
  </div>
  <div class="field">
    <%= f.label :private_key %><br />
    <%= f.text_field :private_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
