<p id="notice"><%= notice %></p>

<p>
  <b>Public key:</b>
  <%= @encrypted_connection.public_key %>
</p>

<p>
  <b>Private key:</b>
  <%= @encrypted_connection.private_key %>
</p>


<%= link_to 'Edit', edit_encrypted_connection_path(@encrypted_connection) %> |
<%= link_to 'Back', encrypted_connections_path %>
